@use "variables";

@mixin pMT {
  margin-top: -13px;
}

@mixin flex-col {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin desktop() {
  @media screen and (min-width: 768px) {
    @content;
  }
}
