@use "variables";

@mixin container {
  background-color: variables.$Neutral-Very-Dark-Blue;
  width: 375px;
  padding-top: 24px;
  padding-bottom: 24px;
  border-radius: 5%;
  position: absolute;
  top: 20%;
}

@mixin paragraph {
  margin-top: variables.$p-MT;
  color: variables.$Neutral-M-Grey;
  font-size: 15px;
}

@mixin flex-col {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}
