// Primary color
$primary-Orange: hsl(25, 97%, 53%);

//Neutral colors
$Neutral-White: hsl(180, 100%, 100%);
$Neutral-L-Grey: hsl(217, 12%, 63%);
$Neutral-M-Grey: hsl(216, 12%, 54%);
$Neutral-Dark-Blue: hsl(213, 19%, 18%);
$Neutral-Very-Dark-Blue: hsl(216, 12%, 8%);

// Font size
$p-font-Size: 15px;

// Margin top for paragraph
$p-MT: -13px;
